* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.logo {
  width: 4vw;
  height: 8vh;
  background-size: cover;
}

body {
  background-image: url(../public/images/background.jpg);
  background-repeat: repeat-y;
  background-size: 100% auto; /* Ensures full image width is used */
  background-position: center top;
  background-attachment: fixed;
}

.image {
  height: 15vh;
  width: 15vh;
}

.stat {
  width: 85%;
}

.male {
  background-color: blue;
}

.female {
  background-color: #ff69b4;
}

.gender-bar {
  height: 25%;
}

.description-container {
  height: 11vh;
}

.button {
  width: 10vw;
}

.page-container {
  padding-bottom: 6vh;
  padding-right: 4vw;
}

.text-box {
  height: 5vh;
  border-radius: 10px;
  padding: 0 10px;
  margin: 0 1vw;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
  will-change: opacity, transform;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: translateY(0);
}

body.modal-open {
  overflow-y: scroll !important;
  padding-right: 0 !important;
}

html {
  scrollbar-gutter: stable; /* modern browsers */
}

body {
  overflow-y: scroll; /* Safari fallback */
}
